@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?3u7hd');
	src:url('../fonts/icomoon.eot?#iefix3u7hd') format('embedded-opentype'),
		url('../fonts/icomoon.woff?3u7hd') format('woff'),
		url('../fonts/icomoon.ttf?3u7hd') format('truetype'),
		url('../fonts/icomoon.svg?3u7hd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e607";
}

.icon-inicio:before {
	content: "\e602";
}

.icon-right:before {
	content: "\e606";
}

.icon-logo:before {
	content: "\e604";
}

.icon-ninjaviral:before {
	content: "\e605";
}

.icon-equis:before {
	content: "\e603";
}

.icon-comentario:before {
	content: "\e96b";
}

.icon-comentario_o:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-cargar:before {
	content: "\e982";
}

.icon-recarga:before {
	content: "\e984";
}

.icon-lupa:before {
	content: "\e986";
}

.icon-ojo:before {
	content: "\e9ce";
}

.icon-estrella_vacia:before {
	content: "\e9d7";
}

.icon-estralla_mitad:before {
	content: "\e9d8";
}

.icon-estrella_llena:before {
	content: "\e9d9";
}

.icon-corazon:before {
	content: "\e9da";
}

.icon-ciclo:before {
	content: "\ea2e";
}

.icon-arriba:before {
	content: "\ea3a";
}

.icon-derecha:before {
	content: "\ea3c";
}

.icon-abajo:before {
	content: "\ea3e";
}

.icon-izquierda:before {
	content: "\ea40";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-linkedin:before {
	content: "\eac9";
}

.icon-pinterest:before {
	content: "\ead0";
}

.icon-rss:before {
	content: "\e601";
}

.icon-like:before {
	content: "\e600";
}

