@import "nib"
@import "normalize.styl"
@import "fonts.styl" 
@import "owl.theme.styl"
@keyframes fadein
	from
		opacity 0
	to
		opacity 100

gris_claro = #b4b5b7
gris_oscuro = #111111
naranja = #c32700
negro = #000000
blanco = #ffffff
facebook = #3b5998
twitter = #55acee
pinterest = #cb2027
linkedin = #007bb6
rss = 	#FF6600
body
	font-size 16px
	font-family 'Open Sans', sans-serif

a
	text-decoration none
	color naranja

h1
h2
h3
h4
h5
h6
	font-family 'Merriweather', serif
h1
h2
h3	
	font-style italic
h1
	font-weight 900	
h2
	font-weight 700

img
	max-width 100%
	height auto
figure
	margin 0
	text-align center
figcaption
	text-align center
	font-style italic		
/*Clases de ayuda*/
.btn
	background lightgray
	color black
	display inline-block
	padding .6rem .8rem
	text-align center
	box-shadow 0 1px 2px negro
	&:hover
		background #e76000
.btn-principal
	background naranja
	color white
	&:hover
		background #e76000
.btn-facebook
	background facebook
	&:before
		content "\ea8c"	
	&:hover
		background facebook
.btn-twitter
	background twitter
	&:before
		content "\ea91"	
	&:hover
		background twitter
.container
	margin 0 auto
	max-width 1200px
	padding 0 0.813rem
	text-align center
.desktop
	display none
.float-left
	float left
.float-right
	float right
.margin-v
	margin 1.2rem auto
.relative
	position relative
.tablet
	display none
	font-size 1rem
.text-center
	text-align center
.text-left
	text-align left
.text-right
	text-align right
.visible
	display block

/*Clases de maqueta*/
.bg-facebook
	&:hover
		background facebook
.bg-linkedin		
	&:hover
		background linkedin
.bg-pinterest
	&:hover
		background pinterest
.bg-rss
	&:hover
		background rss
.bg-twitter
	&:hover
		background twitter
.by
	color gris_claro
	margin-right .2rem
	a
		color negro
.category
	text-transform uppercase
	font-weight bold
.date
	color gris_claro
		
.footer
	background-color gris_oscuro
	color white
	font-size .8rem
	padding 1rem 0
.input-search
	font-family 'icomoon'
	padding .3rem .2rem
	width 13.5rem
	line-height 1rem
	
.info-post
	font-size 0.875rem
	padding 0.375rem 0
	text-transform uppercase
	a
		color gris_claro

.logo
	h1
		margin 0
		padding 0
.logo-image
	height 4.5rem
	width auto
.menu
	font-size 1rem
	list-style none
	margin 0
	overflow hidden
	padding 0
.menu-op
	margin 0
	a
		background negro
		color blanco
		display block
		font-size 1rem
		padding .7rem
		text-align left
	&:nth-child(even)
		a
			background gris_oscuro
.menu-principal
	background black
	clear both
	display none
	font-size 0
	left 0.813rem
	max-width 18.125rem
	position absolute
	text-transform uppercase
	top 3.5rem
	width 90%

.nav-principal
	margin 3rem 0
			
.ninja
	font-size 2.5rem
.ninjaviral
	font-size 1.5rem
.page 
	font-size 0	
.page-post
	width 100%
	display inline-block
	font-size 1rem
	
.post_home
.post-suggest
	display inline-block
	margin-bottom 1rem
	margin-right 3%
	padding 0
	text-align left
	vertical-align: top;
	width 48.5%
	figure
		margin 0
		img
			width 100%
	h2
		margin .5rem 0
		font-size 1rem
		a
			color negro
			&:hover
				color naranja
	&:nth-child(even)
		margin-right 0	

.post-meta
		overflow hidden
		border-bottom 3px solid gris_claro
		font-weight bold
.post-sugeridos
	font-size 0
.search-box
	display inline-block
	position relative	
	float right
.search-content
	background negro
	padding .4rem
	position absolute
	z-index 9999
	overflow hidden
	right 0
	bottom -2.8rem
.conito
	position absolute
	border 5px solid negro
	border-top 0
	z-index 99999
	border-left-color transparent
	border-right-color transparent
	right .7rem
.search-top
	padding .6rem .5rem .6rem .5rem
	color white
	display block
.sidebar
	display none
	vertical-align top
	width 30%
.social-item
	display inline-block
	a
		padding .6rem .5rem .6rem .5rem
		color white
		display block
.sharebuttons
	margin 2rem 0
	overflow hidden
	a
		width 50%
		box-shadow none
		color white
		float left
		padding .6rem 0
		text-transform uppercase
		width 50%
		&:last-child
			float right
		&:before
			font-family icomoon
			font-size 1.2em
			font-weight bold
		&:hover
			text-decoration underline	
.show-menu
	color black
	font-family icomoon
	font-size 1rem
	left 0.813rem
	padding .5em
	position absolute
	top 1.5rem
	&:before
		content: "\e607"
		
.show-menu-on
	background black
	color white
	&:before
		content: ""
		content: "\e603";	
	
.titulo_post	
	font-family 'Merriweather', serif
	font-size 1rem
	font-weight normal
	color gris_oscuro
.top_social
	background black
	display none
	margin-bottom 2rem

.video 
	position relative
	padding-bottom 56.25%
	height 0
	overflow hidden


.video 
	iframe  
	object  
	embed 
		position absolute
		top 0
		left 0
		width 100%
		height 100%

/*Identificadores*/
#container-post-home
	font-size 0
/*OWL SLIDER*/
#content-owl
	position relative
	width 100%
	height auto
	display inline-block
	&:hover
		.slider-nav
			animation-duration 1s
			animation-name fadein
			display inline
#owl-slider
	background negro
	overflow hidden
	position relative
	width auto
	.item
		display block
		font-size 1rem
		height 350px
		overflow hidden
		img
			bottom 0
			height auto
			width 100%
		h2
			background-color rgba(negro, .75)
			color white
			left .5rem
			max-width 70%
			padding .3rem .2rem
			position absolute
			text-align left
			top 60%
#sidebar-baner
	display none
	overflow hidden
	text-align left
	width 32.5%		
	height 350px	
#destacados-wraper
	font-size 0
	overflow hidden
	width 100%	
	margin-bottom 2rem
	
	
.post-destacado
	width 100%	
	height 170px
	display block
	overflow hidden
	font-size .75rem
	margin-bottom 4%
	position relative
	img
		height auto
		width 100%
	h2
		background rgba(negro, .50)
		bottom 0
		color white
		font-weight normal
		left 0
		margin 0
		padding .35rem
		position absolute
	&:last-child
		bottom 0
#show-search-box
	display none
	
@media screen and (min-width:767px) 
	.logo
		width 28%
	.logo-image
		height 5rem
	.menu-principal
		display block
		max-width 100%
		position static
		width auto
		&.menu-flotante
			animation-duration .8s
			animation-name fadein
			left 0
			margin-top 0
			position fixed
			top 0
			width 100%
			z-index 2002
	.menu-op
		display inline-block
		&:nth-child(even)
			a
				background transparent
		a
			background transparent
			&:hover
				background naranja
		&.here
			a
				background naranja
	.page-post
		width 67%
		margin-right 3%	 
	.post_home
	.post-suggest
		width 32.5%	
		margin-right 1.25%
		&:nth-child(even)
			margin-right 1.25%
		&:nth-child(3n)
			margin-right 0	
		h2
			font-size 1.125rem
	.sidebar
		display inline-block
	.sharebuttons
		a
			width 49%
	.show-menu
		display none	
	.tablet 
		display block
	.top_social
		display block
	#header-wrap
		text-align left
	
/*Desktop*/
@media screen and (min-width:1024px)
	.anuncio-top
		float right	
	.desktop
		display inline
	.container
		max-width 1024px
	.post_home
		h2
			font-size 1.250rem
			font-weight 900
	#content-owl
		width 66.25%
		margin-right 1.25%
	#sidebar-baner
		display inline-block	